@font-face {
  font-family: MarkWeb;
  src: url("../fonts/MarkWeb.eot");
}
@font-face {
  font-family: MarkWebBold;
  src: url("../fonts/MarkWeb-Bold.eot");
}
@font-face {
  font-family: MarkScWeb;
  src: url("../fonts/MarkScWeb.eot");
}
@font-face {
  font-family: MarkScWebBold;
  src: url("../fonts/MarkScWeb-Bold.eot");
}
@font-face {
  font-family: MarkWeb;
  src: url("../fonts/MarkWeb.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: MarkWeb;
  src: url("../fonts/MarkWeb-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: MarkScWeb;
  src: url("../fonts/MarkScWeb.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: MarkScWeb;
  src: url("../fonts/MarkScWeb-Bold.woff") format("woff");
  font-weight: bold;
}
body {
  font-family: "MarkWeb", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
h1 {
  font-size: 41px;
  font-weight: bold;
}
h2 {
  font-size: 34px;
  font-weight: bold;
}
h3 {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h4 {
  font-size: 20px;
  line-height: 28.8px;
  font-weight: bold;
}
h4 p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 14.4px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
h6 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
p {
  font-size: 16px;
  line-height: 24px;
}
h5,
p span.sc,
.sc,
li.sc {
  letter-spacing: 1px;
}
.small,
p.small {
  letter-spacing: 1px;
  font-size: 10.4px;
}
strong {
  font-weight: bold;
}
.temp-text h3 {
  margin-bottom: 1em;
}
.language button a {
  text-transform: lowercase;
}
.small-caps-th,
h5,
p span.sc,
.sc,
li.sc,
.cart-totals th,
#order_review tfoot th,
ul.woocommerce-error li strong {
  text-transform: lowercase;
  font-family: 'MarkScWeb';
  font-weight: normal;
}
a,
a:link {
  color: #6b917d;
  text-decoration: none;
}
a:hover {
  color: #9dc1a3;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  color: #6b917d;
  text-decoration: none;
}
nav.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  min-height: 40px;
}
body.home section {
  min-height: 300px;
  padding-top: 2em;
}
.top-pad {
  margin-top: 5em;
}
.more {
  margin-top: 3em;
  margin-bottom: 2em;
}
.container.generic-page {
  min-height: 400px;
  margin-bottom: 3em;
}
.container.generic-page h4 {
  margin-bottom: 3em;
}
.faq h6 {
  margin-bottom: 0px;
}
.faq p {
  margin-bottom: 3em;
}
#intro {
  position: relative;
  padding-top: 0px;
}
.wiggle {
  margin: 3.5em 0 1em 0;
  clear: both;
  background-repeat: no-repeat;
  background-position: left;
  height: 15px;
  visibility: visible;
}
@media (max-width: 767px) {
  .intro-mobile-img {
    visibility: visible;
    margin-bottom: 2em;
    width: 100%;
  }
  .intro-logo {
    background-color: transparent;
  }
  .wiggle {
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 768px) {
  #intro img.logo {
    max-width: 90%;
  }
  .intro-mobile-img {
    visibility: hidden;
    display: none;
  }
  .intro-brand {
    position: absolute;
    top: 45%;
    height: 500px;
    margin-top: -250px;
  }
  .wiggle {
    width: 750px;
    background-image: url('../img/wiggle-750.png');
  }
}
@media (max-width: 991px) {
  .wiggle {
    max-width: 100%;
    background-image: url('../img/wiggle-390.png');
  }
}
@media (min-width: 992px) {
  .wiggle {
    width: 323px;
    background-image: url('../img/wiggle-323.png');
  }
}
@media (min-width: 1200px) {
  .wiggle {
    width: 390px;
    background-image: url('../img/wiggle-390.png');
  }
}
img,
#intro img,
#the-felt img {
  max-width: 100%;
}
.intro-logo {
  margin-top: 5%;
  margin-bottom: 2em;
}
#intro h4 {
  font-weight: normal;
}
#the-felt {
  margin-bottom: 2em;
}
.more p {
  font-size: 12.8px !important;
}
/*
.panel,
.panel-group,
.panel-group .panel-default,
.panel-group .panel-heading,
.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-body,
.panel-group ol {
	padding: 0;
	border: none;
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
}
.panel-default {
	border-color: transparent;
}
.panel-group {
}
.panel-default {
}
.panel-heading {
}
.panel-collapse {
}
.panel-body {
}
*/
.shop-products a {
  color: #333333;
}
.shop-products a:hover {
  color: #808080;
}
.shop-products .row.products {
  margin-bottom: 6em;
}
.shop-products img {
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.products img:hover {
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
}
.products h4 {
  font-weight: bold;
  margin-bottom: 0.2em;
}
.products h6 {
  font-size: 11.52px;
  margin-top: 0;
}
.skew {
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1.2em;
  padding-bottom: 1em;
}
.skew-right {
  background-image: url('../img/wiggle-skew-right.png');
}
.skew-left {
  background-image: url('../img/wiggle-skew-left.png');
}
.portrait {
  margin: 0 auto 2em auto;
}
.portrait img {
  width: 65%;
}
footer {
  background-image: url('../img/wiggle-single.png');
  background-repeat: repeat-x;
}
footer .container {
  margin: 2em auto 1em auto;
  padding-top: 4em;
}
footer ul {
  font-size: 14px;
}
footer li {
  margin-bottom: 3.5px;
}
footer li a,
footer li a:link {
  color: #333333;
}
footer li a:visited {
  color: #333333;
}
footer li a:hover {
  color: #c8c8c8;
}
footer li.subtitle {
  font-size: 10.4px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #c8c8c8;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.copyright {
  margin-top: 3em;
}
.copyright p,
.copyright a,
.copyright p a {
  color: #c8c8c8;
}
.single-product-image img {
  margin: 0 auto;
}
.description {
  margin-top: 3em;
  margin-bottom: 2em;
}
.bg-warning {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 4em;
}
table p,
table label {
  margin: initial;
}
td.label label {
  font-size: 16px;
  color: #333333;
  font-weight: normal;
  margin: 10px 10px 0 0;
  padding: 0;
}
.styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 17px;
  overflow: hidden;
  position: relative;
  width: 170px;
}
.styled-select select {
  height: 34px;
  padding: 5px 0 5px 10px;
  background-color: #FFF;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 200px;
}
.styled-select :hover,
.styled-select select:hover {
  background-color: #f1f1f1;
}
select:focus {
  outline: none;
}
@-moz-document url-prefix() {
  
}
.select-caret {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
  pointer-events: none;
}
select::-ms-expand {
  display: none;
}
/* hide default down arrow in IE10*/
_:-o-prefocus .styled-select,
.selector .styled-select {
  background: none;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
.quantity {
  margin: 0 0 1em 0;
}
.quantity input {
  display: inline-block;
}
.quantity input.minus,
input.plus {
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 0;
  font-size: 12px;
  border-radius: 50%;
  font-size: 20px;
}
.quantity input.minus {
  margin-right: 0.5em;
}
.quantity input.plus {
  margin-left: 0.5em;
}
.quantity input.qty {
  max-width: 100px;
  text-align: center;
  font-size: 20px;
  padding: 0;
  height: 32px;
}
.product_meta {
  margin: 1em 0 1em 0;
}
abbr.required {
  border-bottom: none;
}
td.product-quantity > div.quantity input.minus,
td.product-quantity > div.quantity input.plus {
  margin-top: -5px;
}
.cart-collaterals {
  margin: 2em 0;
}
#customer_details label {
  font-weight: normal;
}
#customer_details abbr.required {
  margin-right: 0.5em;
}
#customer_details span.country {
  margin-right: 0.5em;
}
#customer_details #billing_country_chosen {
  width: 180px;
}
#customer_details li.highlighted {
  background-color: #428bca;
  background-image: none;
}
#customer_details ul.chosen-results {
  text-align: left;
  margin: 0;
  padding: 0;
}
#customer_details li {
  padding: 6px 5px;
}
#customer_details a,
#customer_details ul,
#customer_details li {
  text-align: left !important;
}
#customer_details a.chosen-single,
.chosen-drop {
  width: 180px;
  font-size: 16px;
}
#customer_details a.chosen-single {
  background-image: none;
  background: transparent;
  border: 1px solid #ccc;
  box-shadow: none;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  height: 34px;
}
#customer_details a.chosen-single div > b {
  background-image: none !important;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin: 10px 10px 0 0;
}
#customer_details .chosen-drop {
  background-image: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  margin-top: -6px;
  padding-top: 5px;
  box-shadow: none;
}
input#place_order {
  background-image: none;
  background: transparent;
  border: 1px solid #ccc;
  box-shadow: none;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}
ul,
li {
  padding-left: 0;
  list-style-type: none;
  text-decoration: none;
}
#payment ul li label,
#payment ul.payment_methods li label {
  font-weight: normal;
}
.woocommerce-invalid,
.woocommerce-invalid-required-field {
  color: #a94442;
}
.woocommerce-invalid input,
.woocommerce-invalid-required-field input {
  border-color: #c1272d;
}
.alert,
ul.woocommerce-error {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #ebccd1;
}
ul.woocommerce-error {
  padding: 25.6px 32px;
  margin-top: 32px;
  color: #c1272d;
  list-style-type: none;
  text-decoration: none;
}
.btn-edit-page {
  margin: 2em 0;
  background-color: #428bca;
}
.btn-edit-page a {
  color: #FFF;
}
.btn-edit-page a:hover {
  text-decoration: none;
}
#mc_embed_signup {
  margin-top: 2em;
}
#mc_embed_signup label {
  font-weight: normal;
}
#mc_embed_signup .form-group {
  display: block;
}
#mc_embed_signup div.mce_inline_error {
  font-weight: normal !important;
  background-color: transparent !important;
  color: #a94442 !important;
  border-color: #a94442 !important;
}
#mc-embedded-subscribe {
  font-size: 16px;
  background-color: #6b917d;
  border: none;
  color: #FFF;
  margin-top: 1em;
}
@media (min-width: 768px) {
  #intro {
    background: url('../img/landing-992.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 992px) {
  #intro {
    background: url('../img/landing.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .intro-logo {
    margin-bottom: 3em;
  }
  .wiggle {
    margin: 0;
  }
}
