// COLORS // ---------------------------------
@red: 				#C1272D;
@green: 			#2F8A59;
@blue: 				#00476B;
@bootstrap-blue: 	rgb(66, 139, 202);
@lightgray: 		#F1F1F1;
@white: 			rgba(255, 255, 255, 0.7);
@darkgray:			rgb(51, 51, 51);
@midgray:			rgb(200,200,200);
@link:				rgb(107,145,125);
@link-hover:		rgb(157,193,163);
@link-visited:		rgb(90,103,98);

// TYPOGRAPHY // -----------------------------

// eot
@font-face {
	font-family: MarkWeb;
	src: url("../fonts/MarkWeb.eot");
}
@font-face {
	font-family: MarkWebBold;
	src: url("../fonts/MarkWeb-Bold.eot");
}
@font-face {
	font-family: MarkScWeb;
	src: url("../fonts/MarkScWeb.eot");
}
@font-face {
	font-family: MarkScWebBold;
	src: url("../fonts/MarkScWeb-Bold.eot");
}

// woff
@font-face {
	font-family: MarkWeb;
	src: url("../fonts/MarkWeb.woff") format("woff");
	font-weight: normal;
}
@font-face {
	font-family: MarkWeb;
	src: url("../fonts/MarkWeb-Bold.woff") format("woff");
	font-weight: bold;
}
@font-face {
	font-family: MarkScWeb;
	src: url("../fonts/MarkScWeb.woff") format("woff");
	font-weight: normal;
}
@font-face {
	font-family: MarkScWeb;
	src: url("../fonts/MarkScWeb-Bold.woff") format("woff");
	font-weight: bold;
}
@font-family-sans-serif: "MarkWeb", "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-size-base: 16px;
@font-size-h1: floor((@font-size-base * 2.6));
@font-size-h2: floor((@font-size-base * 2.15)); 
@font-size-h3: ceil((@font-size-base * 1.6)); 
@font-size-h4: ceil((@font-size-base * 1.2)); 
@font-size-h5: @font-size-base;
@font-size-h6: @font-size-base*0.8; 

body {
	font-family: @font-family-sans-serif;
	font-size: @font-size-base;
}
h1 {
	font-size: @font-size-h1;
	font-weight: bold;
}
h2 {
	font-size: @font-size-h2;
	font-weight: bold;
}
h3 {
	font-size: @font-size-h3;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h4 {
	font-size: @font-size-h4;
	line-height: @font-size-base*1.8;
	font-weight: bold;
}
h4 p {
	font-size: @font-size-h4;
	line-height: @font-size-h4 * 1.5;
	margin-bottom: @font-size-base*0.9;
}
h5 {
	font-size: @font-size-h5;
	line-height: @font-size-h5 * 1.5;
	font-weight: bold;	
}
h6 {
	font-size: @font-size-base;
	font-weight: bold;
	line-height: @font-size-base * 1.5;
}
p {
	font-size: @font-size-base;
	line-height: @font-size-base * 1.5;
}


h5, 
p span.sc, 
.sc, 
li.sc {
	&:extend(.small-caps-th);
	letter-spacing: 1px;
}
.small,
p.small {
	letter-spacing: 1px;
	font-size: @font-size-base * 0.65;
}
strong {
	font-weight: bold;
}
.temp-text h3 {
	margin-bottom: 1em;
}
.language button a {
	text-transform: lowercase;
}
.small-caps-th {
	text-transform: lowercase;
	font-family: 'MarkScWeb';
	font-weight: normal;
}
a,
a:link {
	color: @link;
	text-decoration: none;
}
a:hover {
	color: @link-hover;
	text-decoration: none;
}
a:visited {
	//color: @link;
	text-decoration: none;
}
a:active {
    color: @link;
    text-decoration: none;
}

// NAV  // ------------------------------
nav.navbar {
	background-color: @white;
	border: none;
	min-height: 40px;
}

// GENERAL // ----------------------------
body.home section {
	min-height: 300px;
	padding-top: 2em;
	//border-bottom: 3px solid #FAFAFA;
}
.top-pad {
	margin-top: 5em;
}
.more {
	margin-top: 3em;
	margin-bottom: 2em;
}
.container.generic-page {
	min-height: 400px;
	margin-bottom: 3em;
}
.container.generic-page h4 {
	margin-bottom: 3em;
}
.faq p {
	margin-bottom: 3em;
}

// INTRO // -------------------------------
#intro {
	position: relative;
	padding-top: 0px;
}
.wiggle {
	margin: 3.5em 0 1em 0;
	clear: both;
	background-repeat: no-repeat;
	background-position: left;
	height: 15px;
	visibility: visible;
}
@media (max-width: 767px) { 
	.intro-mobile-img {
		visibility: visible;
		margin-bottom: 2em;
		width: 100%;
	}
	.intro-logo {
		background-color: transparent;
	}
	.wiggle {
		display: none;
		visibility: hidden;
	}
}
@media (min-width: 768px) {
	#intro img.logo {
		max-width: 90%;
	}
	.intro-mobile-img {
		visibility: hidden;
		display: none;
	}
	@intro-brand-height: 500px;
	.intro-brand {
		position: absolute; 
		top: 45%; 
		height: @intro-brand-height; 
		margin-top: -@intro-brand-height/2;
	}
	.wiggle {
		width: 750px;
		background-image: url('../img/wiggle-750.png');
	}
}
@media (max-width: 991px) {
	.wiggle {
		max-width: 100%;
		background-image: url('../img/wiggle-390.png');
	}
}
@media (min-width: 992px) {
	.wiggle {
		width: 323px;
		background-image: url('../img/wiggle-323.png');
	}
}
@media (min-width: 1200px) {
  	.wiggle {
		width: 390px;
		background-image: url('../img/wiggle-390.png');
	}
}

#intro .container {
	//position: absolute;
}
img,
#intro img,
#the-felt img {
	max-width: 100%;
}
.intro-logo {
	margin-top: 5%;
	margin-bottom: 2em;
}
.intro-text {}
// .made-in-qc {
// 	margin-top: @font-size-h4*2;
// }
#intro h4 {
	font-weight: normal;
}

// THE FELT // ---------------------------
#the-felt {
	margin-bottom: 2em;
}
.more p {
	font-size: @font-size-base*0.8 !important;
}


/*
.panel,
.panel-group,
.panel-group .panel-default,
.panel-group .panel-heading,
.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-body,
.panel-group ol {
	padding: 0;
	border: none;
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
}
.panel-default {
	border-color: transparent;
}
.panel-group {
}
.panel-default {
}
.panel-heading {
}
.panel-collapse {
}
.panel-body {
}
*/

// SHOP // -------------------------------

.shop-products a {
	color: @darkgray;
}
.shop-products a:hover {
	color: lighten(@darkgray, 30%);
}
.shop-products .row.products {
	margin-bottom: 6em;
}
.shop-products img {
	// .img-circle // .center-block
	border-radius: 50%;
	display: block;
  	margin-right: auto;
  	margin-left: auto;
}
@blur: 7px;
.products img:hover {
    -webkit-filter: blur(@blur);
    -moz-filter: blur(@blur);
    -o-filter: blur(@blur);
    -ms-filter: blur(@blur);
	filter: blur(@blur);
}
.products h4 {
	font-weight: bold;
	margin-bottom: 0.2em;
}
.products h6 {
	font-size: @font-size-h6 * 0.9;
	margin-top: 0;
}
.skew {
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 1.2em;
	padding-bottom: 1em;
}
.skew-right {
	background-image: url('../img/wiggle-skew-right.png');
}
.skew-left {
	background-image: url('../img/wiggle-skew-left.png');
}

// THE STORY // ------------------------------
.portrait {
	margin: 0 auto 2em auto;
}
.portrait img {
	width: 65%;
}

// FOOTER // ---------------------------------

@font-size-footer: 14px;
footer {
	background-image: url('../img/wiggle-single.png');
	background-repeat: repeat-x;
}
footer .container {
	margin: 2em auto 1em auto;
	padding-top: 4em;
}
footer ul {
	font-size: @font-size-footer;
}
footer li {
	margin-bottom: @font-size-footer/4;
}
footer li a,
footer li a:link {
	color: @darkgray;
}
footer li a:visited {
	color: @darkgray;
}
footer li a:hover {
	color: @midgray;
}
footer li.subtitle {
	font-size: @font-size-base*0.65;
	letter-spacing: 1px;
	font-weight: bold;
	color: @midgray;
	text-transform: uppercase;
	margin-bottom: @font-size-footer;
}
.copyright {
	margin-top: 3em;
}
.copyright p {
	color: @midgray;
}


// SINGLE PRODUCT // -----------------------
.single-product-image img {
	margin: 0 auto;
}
.description {
	margin-top: 3em;
	margin-bottom: 2em;
}
.bg-warning {
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 4em;
}
table p, 
table label {
	margin: initial;
}
td.label label {
	font-size: @font-size-base;
	color: @darkgray;
	font-weight: normal;
	margin: 10px 10px 0 0;
	padding: 0;
}

// select button

@select-btn-width: 170px;

.styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 17px;
  overflow: hidden;
  position: relative;
  width: @select-btn-width;
}
.styled-select select {
	height: 34px;
	padding: 5px 0 5px 10px;
	background-color: #FFF;
	border: none;
	-webkit-appearance: none; 
	cursor: pointer;
	width: @select-btn-width+30px;
}
.styled-select select#pa_color {
	//width: @select-btn-width+30px;
}
.styled-select select#pa_length {
	//width: 100px;
}

.styled-select :hover,
.styled-select select:hover {
	background-color: @lightgray;
}
select:focus { 
	outline: none; 
}

@-moz-document url-prefix(){
  .styled-select select { 
  	//width: 120%; 
  }
}

.select-caret {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
  pointer-events: none;
}
select::-ms-expand { display: none; } /* hide default down arrow in IE10*/
_:-o-prefocus, .selector {
  .styled-select { 
  	background: none; 
  }
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

// amount
span.amount {
	//font-size: @font-size-h3;
}
.quantity {
	margin: 0 0 1em 0;
}
.quantity input {
	display: inline-block;
}
.quantity input.minus, input.plus {
	//background-color: red;
	width: 32px;
	height: 32px;
	text-align: center;
	padding: 0;
	font-size: 12px;
	border-radius: 50%;
	font-size: @font-size-h4;
}
.quantity input.minus {
	margin-right: 0.5em;
}
.quantity input.plus {
	margin-left: 0.5em;
}
.quantity input.qty {
	max-width: 100px;
	text-align: center;
	font-size: @font-size-h4;
	padding: 0;
	height: 32px;
}
.product_meta {
	margin: 1em 0 1em 0;
}

// CHECKOUT --------------------------------

abbr.required {
	border-bottom: none;
}
td.product-quantity > div.quantity input.minus, 
td.product-quantity > div.quantity input.plus {
	margin-top: -5px;
}
.actions {}
.cart-collaterals {
	margin: 2em 0;
}
.cart-totals th {
	&:extend(.small-caps-th);
}

@dropdown-width: 180px;
#customer_details label {
	font-weight: normal;
}
#customer_details abbr.required {
	margin-right: 0.5em;
}
#customer_details span.country {
	margin-right: 0.5em;
}
#customer_details #billing_country_chosen {
	width: @dropdown-width;
}
#customer_details li.highlighted {
	background-color: @bootstrap-blue;
	background-image: none;
}
#customer_details ul.chosen-results {
	text-align: left;
	margin: 0;
	padding: 0;
}
#customer_details li {
	padding: 6px 5px;
}
#customer_details a, 
#customer_details ul, 
#customer_details li {
	text-align: left !important;
}
#customer_details a.chosen-single, .chosen-drop {
	width: @dropdown-width;
	font-size: @font-size-base;
}
#customer_details a.chosen-single {
	background-image: none;
	background: transparent;
	border: 1px solid #ccc;
	box-shadow: none;
	color: #333;
	background-color: #fff;
	border-radius: 4px;
	display: inline-block;
	padding: 6px 12px;
	margin: 0;
	font-size: @font-size-base;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	height: 34px;
}
#customer_details a.chosen-single div > b {
	background-image: none !important;
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	margin: 10px 10px 0 0;
}

#customer_details .chosen-drop {
	background-image: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	margin-top: -6px;
	padding-top: 5px;
	box-shadow: none;
}
input#place_order {
	background-image: none;
	background: transparent;
	border: 1px solid #ccc;
	box-shadow: none;
	color: #333;
	background-color: #fff;
	border-radius: 4px;
	display: inline-block;
	padding: 6px 12px;
	margin: 0;
	font-size: @font-size-base;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	//height: 34px;
}
ul, 
li {
	padding-left: 0;
	list-style-type: none;
	text-decoration: none;
}
#payment ul li label, 
#payment ul.payment_methods li label {
	font-weight: normal;
}
#order_review tfoot th {
	&:extend(.small-caps-th);	
}
#order_review thead th {
	//font-weight: bold;
}
// invalid fields
.woocommerce-invalid, 
.woocommerce-invalid-required-field {
	color: #a94442;
}
.woocommerce-invalid input, 
.woocommerce-invalid-required-field input {
	border-color: @red;
}
.alert {
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #f2dede;
  	border-color: #ebccd1;
}
ul.woocommerce-error {
	padding: @font-size-base*1.6 @font-size-base*2;
	margin-top: @font-size-base*2;
	color: @red;
	list-style-type: none;
	text-decoration: none;
	&:extend(.alert);
}
ul.woocommerce-error li strong{
	&:extend(.small-caps-th);
}
.btn-edit-page {
	margin: 2em 0;
	background-color: @bootstrap-blue;
}
.btn-edit-page a {
	color: #FFF;
}
.btn-edit-page a:hover {
	text-decoration: none;
}
// NEWSLETTER / MAILCHIMP // --------------------------------
#mc_embed_signup {
	margin-top: 2em;
}
#mc_embed_signup label {
	font-weight: normal;
}
#mc_embed_signup .form-group {
	display: block;
}
#mc_embed_signup div.mce_inline_error {
	font-weight: normal !important;
	background-color: transparent !important;
	color: #a94442 !important;
	border-color: #a94442 !important;
}
#mc-embedded-subscribe {
	font-size: 16px;
	background-color: @link;
	border: none;
	color: #FFF;
	margin-top: 1em;
}

// SCREEN SIZE SPECIFICS // ---------------------------------

@media (min-width: 768px) {
	#intro {
		background: url('../img/landing-992.png') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
@media (min-width: 992px) {
	#intro {
		background: url('../img/landing.png') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}
@media (max-width: 767px) {
	.intro-logo {
		margin-bottom: 3em;
	}
	.wiggle {
		margin: 0;
	}
}
@media (max-height: 500px) {}